/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}
head{
  margin: 3em;
  background-color: #2f7f2c 


}

body {
 background-color: #85bc90; 
}

header{
  background-color: #44604a; 
}
/* STYLE TEXT */
html{
  text-align: center;
  color: #000000;
}


main{
  margin-top:0;
  margin-bottom:0;
  margin-right:0 auto;
  margin-left:0 auto;
}
h1 {
  padding:1em;
  color: #ivory;
  
}
h2 {
  padding-top:1em;
  color: #ivory;

}
p {
  padding:1em;
  margin-bottom:1em;

} 

li {
  margin-bottom:1em;

}
/* STYLE IMAGES */
img{
  max-width: 100%;
  max-height: 100%;
  border:3px solid white;
  
}

#plant {
  max-width: 40%;
  max-height: 40%;
}

/* STYLE NAV BAR */


.navbar li {
  display: inline;
  text-decoration: None;
}


ul {
  list-style-type: none;
  overflow: hidden;
  padding:2em;
  margin:2em;
  display: inline;


}
.navbar a {
  
  text-decoration: none; /* Remove underline from links in the navbar */
  padding: 10px 15px; /* Add some padding for better spacing */
  display: inline-block; /* Ensure padding is applied properly */
  color: white; /* Optional: set the color to black or any desired color */
}
/* STYLE BUTTONS */
li a:hover {
  background-color: #20491d66

}
/* ADD MORE! */
/*Create flex container to make website accessible to different screen sizes*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
}
.flex-item {
  flex-basis: 100%;
  margin:1%;
}



/*Create Media Queries */

@media screen and (max-width: 769px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 769px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) {
  body {
    font-size:200%;
  }
  
}
